.post-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  .post-title {
    font-size: 2em;
    margin-bottom: 15px;
  }

  .tags, .comments-header {
    color: #bbb;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .tag-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 10px;
      background-color: #555;
      padding: 3px 7px;
      border-radius: 15px;
      font-size: 0.8em;
    }
  }

  .post-content {
    margin-top: 20px;
    line-height: 1.6;
  }

  .post-info {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    margin-top: 10px;
    color: #aaa;

    .likes-count, .creation-time, .update-time, .views-count {
      margin-left: 15px;
    }
  }

  .comments-section {
    margin-top: 30px;

    .comments-list {
      list-style: none;
      padding: 0;

      li {
        background-color: #444;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px;
        color: #ddd;

        &:first-child {
          margin-top: 0;
        }

        .comment-content {
          margin-bottom: 5px;
          font-weight: bold;
        }

        .comment-info {
          font-size: 0.8em;
          color: #bbb;
        }

        .recomments-list {
          list-style-type: none;
          padding-left: 20px;
          margin-top: 10px;

          li {
            background-color: #505050;
            margin-top: 5px;
            padding: 5px;
            border-radius: 4px;
            font-size: 0.8em;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    .comment-input {
      textarea {
        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        background-color: #444;
        color: #fff;
        resize: none;
        height: 100px;
        margin-bottom: 10px;

        &:focus {
          outline: none;
        }
      }

      button {
        background-color: #556;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #667;
        }
      }
    }
  }
}
