.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #000; // 검은색 배경
  color: #fff; // 흰색 텍스트
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  &__group {
    margin-bottom: 20px;
  }

  &__date {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    background-color: #222; // 어두운 항목 배경
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: #333;
    }

    &.checked {
      text-decoration: line-through;
      color: #777;
    }

    &__checkbox {
      margin-right: 10px;
      color: #4CAF50; // 체크박스 색상
    }

    &__content {
      flex-grow: 1;
    }

    &__important {
      margin-left: auto;
      padding: 0 10px;
    }

    &__location {
      font-style: italic;
      color: #aaa; // 위치 텍스트 색상
    }
  }

  &__create-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }
}
